#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li{
text-align: left;
list-style:disc;
font-size: 20px;
}
li+li{
  margin-top: 8px;
}

.done{
  color: rgb(219, 80, 80);
}
.inProgress{
  color: #4392e1;
}

.sm-btn{
margin-left: 10px;
font-size: 12px;
background-color: transparent;
border: solid 1px #fff;
}

select,input{
  padding: 0.3em;
}
select{
  font-size: 12px;
  margin-left: 20px;
}
.text-red{
  color: red;
}


